html{
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
 
}
nav{
  position:fixed;
  z-index: 90;
  left: 0;
  right: 0;
  top:0;
  height: 100px;
  background-color:rgb(7, 212, 212);

  padding: 0 5%;

}
nav .logo{
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  color:#fff;
}
nav .links{
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li{
  list-style: none;
}

nav .links a:hover{
  color: rgb(20, 153, 153);
  transition: all .9s ease;
}
nav .links a{
  display: block;
  padding:1em ;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
 
}
#nav-toggle{
  position: absolute;
  top:-100%;

}
nav .icon-burger2{
  display:none;
  position: absolute;
  left:4%;
  top: 30%;
  transform: translate(-50%);

}
nav .icon-burger2 .line{
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;

}
@media screen and (max-width:768px){
  nav .logo{
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links{
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom:100%;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color:rgb(7, 212, 212);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  nav .links a{
    font-size: 20px;
  }

  nav .icon-burger2{
    display: block;
  }
  nav :checked ~ .links{
    bottom: 0;
  }
  nav :checked ~ .icon-burger2 .line:nth-child(1){
    transform: translateY(10px) rotate(225deg);

  }
  nav :checked ~ .icon-burger2 .line:nth-child(3){
    transform: translateY(-10px) rotate(-225deg);

  }
  nav :checked ~ .icon-burger2 .line:nth-child(2){
  opacity:0 ;

  }
}